/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 600px; margin: 5px; width: 900px; }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}

.nodeExample1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    width: 200px;
    font-family: Tahoma;
    font-size: 12px;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.Treant.chart {width:100vw;height:100vh;}
.Treant { position: relative; overflow: hidden; padding: 0 !important; }



.node { 
    width: auto;
    min-width: 255px;
    height: 140px;
    background-color: white;
    position: absolute; 
    display: flex; 
    border-radius: 10px;
    padding-right: 10px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}

.manager-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}

.avatar img {
    border: none; 
    float: left; 
    width:95%;
    height:95%;
    border-radius: 10px;
    padding: 5px;
}
.manager-avatar img{
    border: none;
    float: left;
    width:95%;
    height:95%;
    border-radius: 10px;
    padding: 5px;
}

.socials {
    display: flex;
    margin-top: 10px;
    row-gap: 5px;
    width: 145px; 
    flex-flow: row wrap;
}

.social {
  flex-basis: 20%;
}

.social img {
    width:20px;
    height:20px; 
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.node-name {
    font-size: 1rem;
    font-family: "Open Sans";
    font-weight: 700;
}
.node-title {
    font-size: .85rem;
    color: #666;
}
